body {
    background-color: lightgray;
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
}
h1 {
    font-size: 50px;
    text-align: center;
}

h2 {
    font-size: 30px;
      text-align: center;
}

p {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}

  article {
      background-color: lightgray;
      display:inline-block;
      vertical-align: text-top;
      table-layout: fixed;
      width: 663px;
      height:250px;
  }

header {
      background-color: red;
      color: white;
      font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
  }

li {
  font-size: 14px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.image_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.image_container img {
  margin: 10px;
}

button {
  text-align: center;
}
