<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Buzzfeed Cookie Quiz - Result</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
<header class="header">
<h1>Buzzfeed Cookie Quiz</h1>
</header>

  <section class="cookie_image">
    <center><img src="/images/<%= @cookie_result %>" style="width:300px;height:300px"></center>
  </section>

  <section class="cookie_message">
    <h2><%= @cookie_message %></h2>
    <center>Ready to order some cookies? Head over to <a href="https://www.doughbies.com/#/r/hhb1z4z0">Doughbies</a> to choose from their daily selection. Use our link to get $10 off your first purchase!
    </center>
  </section>

  </body>
</html>
